<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HUNGRY</title>
    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/assets/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="assets/js/location/locationpicker.jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/main_restaurant">My Restaurants</a></li>
                    <li><a>Orders</a></li>
                    <li><a href="/main">Customer Mode</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Add a new dish to {{ restaurant_name }}</div>
            <div class="panel-body">
                <form action={{upload_url}} method="post"  enctype="multipart/form-data">
                    <div class="form-group col-md-4">
                        <input type="hidden" class="form-control"name="restaurant_name" id="restaurant-name" value='{{restaurant_name}}' />
                        <input type="text" class="form-control" name="dish_name" id="dish-name"/>
                        <b>Dish Name</b>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="dish_price" id="dish-price"/>
                        <b>Price</b>
                    </div>
                    <div class="form-group col-md-4">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add a file...</span>
                            <input type="file" class="form-control" name="dish_img" id="dish-img"/>
                        </span>
                        <p><b>Cover Picture</b></p>
                    </div>
                    <div class="form-group col-md-12">
                        <textarea type="text" class="form-control" name="dish_description" id="dish-description" placeholder = "A short description about the dish"></textarea>
                        <b>Description</b>
                    </div>
                    <div class="form-group col-md-12 text-right">
                        <input type="submit" class="btn btn-info" value="Submit Information">
                    </div>
                </form>
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <div class="form-horizontal" style="width: 550px">#}
{##}
{#            <form action={{upload_url}} method="post"  enctype="multipart/form-data">#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">Restaurant Name:</label>#}
{#                    <div class="col-sm-10">{{restaurant_name}}</div>#}
{#                    <input type="hidden" class="form-control"name="restaurant_name" id="restaurant-name" value='{{restaurant_name}}' />#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">Dish Name:</label>#}
{#                    <div class="col-sm-10"><input type="text" class="form-control" name="dish_name" id="dish-name"/></div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">Price:</label>#}
{#                    <div class="col-sm-10"><input type="text" class="form-control" name="dish_price" id="dish-price"/></div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label class="col-sm-2 control-label">Cover Picture:</label>#}
{#                    <div class="col-sm-10"><input type="file" class="form-control" name="dish_img" id="dish-img"/></div>#}
{#                </div>#}
{##}
{#                <div class="clearfix">&nbsp;</div>#}
{##}
{#                <div class="clearfix"></div>#}
{##}
{#                <div class="col-md-12 col-sm-12 col-xs-12 text-right">#}
{#                        <input type="submit" class="btn btn-info" value="Submit Information">#}
{#                </div>#}
{##}
{#            </form>#}
{#        </div>#}
{#    </div>#}

</body>
</html>