<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HUNGRY|order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    </head>
    <script>
        $(document).ready(function(){
             //$('#paypal').html("HELLO");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/payment",
                data: {
                        'restaurant_name': $('#name').text()
                      },
                async: true,
                success: function(data){
                    $("input[name='item_name']").val($('#name').text());
                    $("input[name='amount']").val($('#cost').text());
                    $("input[name='shipping']").val($('#shipping_fee').text());
                    //$('#paypal').html(data.payment);
                    //$('#paypal').html(data);
                },
                error:function(exception){alert('Exeption:'+exception);}
            });
            $("input[name='submit']").click(function(){
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/paypal",
                    data: {
                            'restaurant_name': $('#name').text()
                          },
                    async: true,
                    success: function(data){
                    },
                    error:function(exception){alert('Exeption:'+exception);}
                });
            });
        });
    </script>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/servicecenter">Service Center</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="sidetools">
        <a href="/main_restaurant" class="sidetools-item" title="Log as owner of a restaurant"><span class="glyphicon glyphicon-th"></span></a>
        <a href="/viewcart" class="sidetools-item" title="My Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>

    <div id="name" hidden="hidden">{{restaurant_name}}</div>
    <div id="cost" hidden="hidden">{{total_cost}}</div>
    <div id="shipping_fee" hidden="hidden">{{shipping_fee}}</div>
    <div class="container">
        <div class="text-center hidden"><img src="/assets/images/comming.png" style="height:50px"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Pay Online
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Restaurant Name</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{restaurant_name}}</td>
                            <td>{{total_cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pull-right">{{payment|safe}}</div>
    </div>
    <div id="paypal"> </div>
</body>
</html>