<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="utf-8">
    <title>HUNGRY|Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="/active"><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/servicecenter">Service Center</a></li>
                    <li><a href="/main_restaurant">Log as owner of restaurant</a></li>
                    <li><a href="/viewcart">My Cart</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="col-md-6">
            <span>Location:</span>
            <span class="text-info">{{current_location}}</span>
        </div>

        <div class="col-md-6 text-right">
            <div class="btn-group">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>All</a></li>
                        <li><a>Fast Food</a></li>
                        <li><a>Mexican Food</a></li>
                        <li><a>Asian Food</a></li>
                    </ul>
                </div>

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Sorted by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>Distance</a></li>
                        <li><a>Valuation</a></li>
                        <li><a>Sales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gap_small"></div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">All Restaurants</div>
            <div class="panel-body">
                {% if restaurant_query_len > 0%}
                    {% for item in restaurant_info %}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <a href={{item[4]}}>
                                    <div class="panel-body">
                                        <img src={{item[1]}} class="img-responsive img-rounded displayed"/>
                                    </div>
                                    <div class="panel-footer">
                                        <div style="text-align: center" class="list-group-item-heading">
                                            <b>{{item[0]}}</b>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div style="text-align: center" class="list-group-item-heading">
                        <p>No Restaurant are available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
{% endautoescape %}