<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="utf-8">
    <title>HUNGRY|My Orders Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/star_rating.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="/active"><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/servicecenter">Service Center</a></li>
                    <li><a href="/main_restaurant">Log as owner of restaurant</a></li>
                    <li><a href="/viewcart">My Cart</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="gap_small"></div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">History Orders</div>
            <div class="panel-body">
                {% if history_cart_query_len > 0%}
                    {% for item in history_cart_info %}
                        <table>
                            <tr>
                                <td>Time: {{item[0]}}</td>
                            </tr>
                            <tr>
                                <td>Restaurant: {{item[1]}}</td>
                            </tr>
                            <tr>
                                <td>Total: {{item[2]}}</td>
                            </tr>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Dish Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in item[3]%}
                                <tr>
                                    <td>{{order[0]}}</td>
                                    <td>{{order[1]}}</td>
                                    <td>{{order[2]}}</td>
                                </tr>
                            {% endfor %}
                            <tbody>
                        </table>

                    {% endfor %}
                {% else %}
                    <div style="text-align: center" class="list-group-item-heading">
                        <p>No History Found</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
{% endautoescape %}