<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to HUNGRY</title>
</head>
<body>

    <head>
        Please select your purpose
    </head>

    <br>
    <select name="options" form="optGet">
      <option value="order" selected="selected">I am hungry, I need to order</option>
      <option value="restaurant">Open a restaurant</option>
    </select>
    <form action="/option_get" method="post" id="optGet">
        <input type="submit">
    </form>

</body>
</html>