<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="utf-8">
    <title>HUNGRY|Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/star_rating.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li class="active"><a href="/servicecenter">Service Center</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    FAQ for Customers
                </div>
                <div class="panel-body">
                    <ol>
                        <li class="faq_question">How to make an order?</li>
                        <li class="faq_question">How to set my location?</li>
                        <li class="faq_question">How to pay for my order?</li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    FAQ for Restaurants
                </div>
                <div class="panel-body">
                    <ol>
                        <li class="faq_question">How to open a restaurant?</li>
                        <li class="faq_question">How to add dishes to a restaurant?</li>
                        <li class="faq_question">How to edit my restaurant?</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contact Us
                </div>
                <div class="panel-body">
                    <img src="/assets/images/hotline.png" class="hotline"/>
                    <h4>Service Hotline</h4>
                    <p class="text-primary"><b>5129343572</b></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endautoescape %}