<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HUNGRY|order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/servicecenter">Service Center</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="sidetools">
        <a href="/main_restaurant" class="sidetools-item" title="Log as owner of a restaurant"><span class="glyphicon glyphicon-th"></span></a>
        <a href="/viewcart" class="sidetools-item" title="My Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>

    <div class="container">
        {% if cart_query_len > 0%}
            <table class="table">
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <!--<th>Dish Name</th>-->
                    <!--<th>Price</th>-->
                    <!--<th>Quantity</th>-->
                    <th>Total cost</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_info %}
                    <tr>
                        <td><a href="{{item[2]}}"> {{item[0]}}</a></td>
                        <td>{{item[1]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <div style="text-align: center" class="list-group-item-heading">
                <p>No Cart is available</p>
            </div>
        {% endif %}
    </div>
</body>
</html>