<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HUNGRY|order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/adjust_quantity.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Hungry</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="main">Main</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/servicecenter">Service Center</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="hidden" id="test"></div>

    <div class="sidetools">
        <a href="/main_restaurant" class="sidetools-item" title="Log as owner of a restaurant"><span class="glyphicon glyphicon-th"></span></a>
        <a href="/viewcart" class="sidetools-item" title="My Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>


    <div class="container">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{restaurant_name}}
                </div>
                <div class="panel-body">
                    {% if cart_query_len > 0%}
                        <table class="table table-striped" style="font-size:12px;">
                            <thead>
                                <tr>
                                    <!--<th>Restaurant Name</th>-->
                                    <th>Dish</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_info %}
                                    <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                                        <!--<div class="panel panel-default">-->
                                            <!--<div class="panel-footer">-->
                                    <tr>
                                        <td hidden="hidden">{{restaurant_name}}</td>
                                        <td>{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>
                                            <div>
                                                <button style="height:20px;width:20px; font-size: 10px;">-</button>
                                                <input type="text" value="{{item[2]}}" style="height:20px;width:20px">
                                                <button style="height:20px;width:20px; font-size: 10px;">+</button>
                                            </div>
                                        </td>
                                        <td>
                                            <a href='{{item[4]}}'>
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                        <td hidden="hidden">{{item[3]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-right">
                            <b class="total_price">$</b> <b id="total_price" class="total_price">{{ cart_total }}</b>
                        </div>
                    {% else %}
                        <div style="text-align: center" class="list-group-item-heading">
                            <p>No Dish is available</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Customer Information (* means required)
                </div>
                <div class="panel-body">
                    <form action="{{confirm_url}}" method="get"  enctype="multipart/form-data">
                        <div class="form-group col-md-12 hidden">
                            <b>Restaurant Name</b>
                            <input type="text" class="form-control" name="restaurant_name" value="{{ restaurant_name }}"/>
                        </div>
                        <div class="form-group col-md-12">
                            <b>Address *</b>
                            <input type="text" class="form-control" name="customer_address" placeholder = "Please input the address for us to deliver the food" required/>
                        </div>
                        <div class="form-group col-md-12">
                            <b>Phone Number *</b>
                            <input type="text" class="form-control" name="customer_phone" placeholder = "Please input the phone number for to contact you" required/>
                        </div>
                        <div class="form-group col-md-12">
                            <b>Time to Deilver</b>
                            <input type="text" class="form-control" name="customer_time" placeholder = "We will deliver as soon as possible if this filed is empty"/>
                        </div>
                        <div class="form-group col-md-12">
                            <b>Notes</b>
                            <textarea type="text" class="form-control" name="customer_notes"  placeholder = "Please input additional requirements of the food, if you want to"></textarea>
                        </div>

                        <div class="col-md-12 text-right">
                            <input type="submit" class="btn btn-success" value="Confirm and Checkout">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <div>Restaurant: {{restaurant_name}}</div>#}
{#        <!--<div>-->#}
{#            <!--<button style="height:25px;width:25px">-</button>-->#}
{#            <!--<input type="text" value="1" style="height:25px;width:25px">-->#}
{#            <!--<button id="add" style="height:25px;width:25px">+</button>-->#}
{#        <!--</div>-->#}
{#        {% if cart_query_len > 0%}#}
{#            <table class="table">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <!--<th>Restaurant Name</th>-->#}
{#                        <th>Dish Name</th>#}
{#                        <th>Price</th>#}
{#                        <th>Quantity</th>#}
{#                        <th></th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for item in cart_info %}#}
{#                        <!--<div class="col-md-3 col-sm-6 col-xs-12">-->#}
{#                            <!--<div class="panel panel-default">-->#}
{#                                <!--<div class="panel-footer">-->#}
{#                        <tr>#}
{#                            <td hidden="hidden">{{restaurant_name}}</td>#}
{#                            <td>{{item[0]}}</td>#}
{#                            <td>{{item[1]}}</td>#}
{#                            <td>#}
{#                                <div>#}
{#                                    <button style="height:25px;width:25px">-</button>#}
{#                                    <input type="text" value="{{item[2]}}" style="height:25px;width:25px">#}
{#                                    <button style="height:25px;width:25px">+</button>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td> <a href='{{item[4]}}'> Cancel </a></td>#}
{#                            <td hidden="hidden">{{item[3]}}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        {% else %}#}
{#            <div style="text-align: center" class="list-group-item-heading">#}
{#                <p>No Dish is available</p>#}
{#            </div>#}
{#        {% endif %}#}
{#        <!--<div id="paybutton">{{paypal_button|safe}}</div>-->#}
{#        <div>#}
{#            <a href="{{confirm_url}}">confirm and checkout</a>#}
{#        </div>#}
</body>
<script>
    function decrement(a) {
        $.ajax$.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/decrement',
            data: {'dish_name': a},
            async: false,
            success: function(data){
                var a = data;
            }
        });
    }
</script>
</html>